/* @import url("https://fonts.cdnfonts.com/css/museo-sans-rounded"); */
@import url("https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2,
h3 {
    margin-top: 1rem;
    color: #3972a2;
}

main {
    display: grid;
}

p {
    color: white;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

#diagrama {
    border-radius: 5px;
    padding: 1rem;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.posicaoBloco {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    width: 110px;
    height: 10px;
}

#blocosDisponiveis {
    display: flex;
    justify-content: space-evenly;
    background-color: #1C1C1C;
    margin: 10px;
    padding: 50px;
}

.bloco {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #ccc;
    padding: 20px;
    text-align: center;
    width: 110px;
    height: 10px;
}

.red {
    border-radius: 25px;
}

.retD {
    width: 110px;
    height: 10px;
}

#cond {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cond > span {
    transform: rotate(-45deg);
}

#processamentos {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.processamento-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.ret {
    width: 110px;
    height: 10px;
}

#circulo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

span {
    color: #ccc;
}

.seta {
    color: #ccc;
    font-size: 1.5rem;
    margin: 2px 0;
}