* {
    padding: 0;
    margin: 0;

    background-color: #342E37;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid #3972A2;
    
    padding: 20px;
    margin: 0px 20px 0px 20px;
}

header img {
    width: 120px;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    padding: 5px;
    margin-left: 20px;
    
}

header ul li a {
    text-decoration: none;
    font-size: 18px;
    font-family: "Jaldi", sans-serif;
    color: white;
}

.menu li.active a {
    color: #3972A2;
}
