*{
    background-color: #342E37;
    font-family: "Jaldi", sans-serif;
    padding: 0;
    color: white;
}

main {
    padding: 20px;
    margin: 20px;
}

.titulo-conteudo{
    color: #3972A2;
    margin-bottom: 15px;
    font-weight: bold;
}

.subtitulo-conteudo{
    color: #3972A2;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
}

.descricao-conteudo{
    line-height: 25px;
    margin-bottom: 15px;
    width: 96%;
}

code{
    width: 96%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #1E1E1E;
    padding: 25px 15px;
    border-left: 10px solid #3972A2;
    display: block;
    border-radius: 5px;
    width: 96%;
}
.desafio{
    display: flex;
    justify-content: center;
}

.desafio p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;
    height: 75px;
    background-color: #3972A2;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.input{
    width: 96%;
    font-size: 15px;
    border: 0 none; 
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #1E1E1E;
    padding: 25px 15px;
    border-left: 10px solid #3972A2;
    display: block;
    border-radius: 5px;
    resize: none;
}
.erro{
    color: red;
}
.invisivel{
    display: none;
}

.botoes {
    padding: 20px;
    display: flex;
    justify-content: end;
    font-family: "Jaldi", sans-serif;
    margin-top: 10px;
}
  
.btn {
    cursor: pointer;
    border-radius: 8px;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    width: 130px;
    display: flex;
    justify-content: center;
}

.avancar, .fechar{
    background-color: #ffd342;
}

.cancelar a {
    background-color: #3972a200;
    text-decoration: none;
    color: white;
}

.avancar a {
    background-color: #ffd34200;
    text-decoration: none;
    color: white;
}

.avancar:hover, .fechar:hover{
    background-color: #f1c73c;
}

.cancelar {
    background-color: #3972a2;
}

.cancelar:hover {
    background-color: #30628b;
}
  