@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');


.card_box {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    font-family: "Jaldi", sans-serif;
}

.card_item {
    width: 100%;
    
}

.card_item h1, .card_item h2 {
    /* font-family: "Jaldi", sans-serif; */

    color: #3972A2;
}

.card_item p {
    color: white;
    margin-bottom: 20px;
}

.code_example {
    color: white;   
    background-color: #1C1C1C;
    border-left: solid #3972A2 25px;
    border-radius: 8px;
    padding: 10px;
}

.code_example code {
    background-color: #1C1C1C;
    display: block;
    line-height: 20px;
}

.botoes {
    padding: 20px;
    display: flex;
    justify-content: end;
    font-family: "Jaldi", sans-serif;
    margin-top: 10px;
}
  
.btn {
    cursor: pointer;
    border-radius: 8px;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    width: 130px;
    display: flex;
    justify-content: center;
}

.invisible {
    display: none;
}

#saiba_mais p {
    margin-top: 20px;
    cursor: pointer;
    background-color: #3972A2;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

ul {
    margin: 0px 20px 0px 20px;
    color: white;
}
.avancar, .fechar{
    background-color: #ffd342;
}

.cancelar a {
    background-color: #3972a200;
    text-decoration: none;
    color: white;
}

.avancar a {
    background-color: #ffd34200;
    text-decoration: none;
    color: white;
}

.avancar:hover, .fechar:hover{
    background-color: #f1c73c;
}

.cancelar {
    background-color: #3972a2;
}

.cancelar:hover {
    background-color: #30628b;
}

h2 {
    margin-top: 10px;
    padding: 10px 0px 10px 0px;
}

a {
    text-decoration: none;
}

.menu li.active a {
    color: #3972A2;
}

.desafio{
    display: flex;
    justify-content: center;
}

.desafio p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;
    height: 75px;
    background-color: #3972A2;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.desafio p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;
    height: 75px;
    background-color: #3972A2;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.titulo-conteudo{
    color: #3972A2;
    margin-bottom: 15px;
    font-weight: bold;
}

.subtitulo-conteudo{
    color: #3972A2;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
}

.descricao-conteudo{
    line-height: 25px;
    margin-bottom: 15px;
    width: 96%;
}
p {
    padding: 0%;
    margin: 0%;
    color: #ffffff;
  }
  
  #quantidadeAcertos{
    font-size: 25px; 
    color: #FFF;
  }
  
  strong {
    color: #3972a2;
  }
  
  .quiz-popup {
    font-family: "Jaldi";
    width: 40%;
    border-radius: 15px;
    position: relative;
    left: 30%;
    top: 5%;
  }
  
  .header-quiz {
    padding: 5px;
    font-size: 22px;
    color: white;
    background-color: #3972a2;
    display: flex;
    justify-content: center;
    border-radius: 5px 5px 0px 0px;
  }
  
  .body-quiz {
    background-color: #342e37;
    border-radius: 0px 0px 5px 5px;
  }
  
  .code {
    display: flex;
    padding: 20px;
  }
  
  .code-header {
    color: #3972a2;
    background-color: #3972a2;
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
  }
  
  .code-body {
    font-size: 18px;
    display: flex;
    align-items: center;
    width: 100%;
    color: #ffffff;
    background-color: #1c1c1c;
    border-radius: 0px 5px 5px 0px;
    padding: 20px 0px 20px 15px;
  }
  
  .quiz-pergunta {
    color: #ffffff;
    padding: 20px;
    padding-top: 0px;
    font-size: larger;
  }
  
  .quiz-alternativas {
    padding: 20px;
    padding-top: 0;
  }
  
  .alternativa {
    cursor: pointer;
    margin-bottom: 10px;
    color: #ffffff;
    padding: 10px;
    display: flex;
    width: auto;
    background-color: #3972a2;
    border-radius: 8px;
  }
  
  .alternativa:hover {
    background-color: #30628b;
  }
  
  .clicado{
    background-color: #30628b;
  }
  
  .correta {
    background-color: greenyellow;
  }
  .correta:hover{
      background-color: rgb(152, 226, 43);
  }
  
  .botoes {
    padding: 20px;
    padding-top: 0;
    display: flex;
    justify-content: end;
  }
  
  .btn {
    cursor: pointer;
    border-radius: 8px;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    width: 80px;
    display: flex;
    justify-content: center;
  }
  
  .avancar, .fechar{
    background-color: #ffd342;
  }
  .avancar:hover, .fechar:hover{
    background-color: #f1c73c;
  }
  
  .cancelar {
    background-color: #3972a2;
  }
  .cancelar:hover {
    background-color: #30628b;
  }

